@model DoAnCDIO2_Genuine_Cosmetic.ViewModels.HangHoaVM

<div class="col-md-6 col-lg-6 col-xl-4">
    <div class="rounded position-relative fruite-item">
        <div class="fruite-img">
            <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@Model.MaHh">
                <img src="~/img_sp/@Model.Hinh" class="img-fluid w-100 rounded-top" alt="@Model.TenHh">
            </a>
        </div>
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 5px; left: 5px;">@Model.TenLoai</div>
        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
            <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@Model.MaHh">
                <h4>@Model.TenHh</h4>
            </a>
            <p></p>
            <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold mb-0">@Model.DonGia.ToString("N0") VND</p>
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary">
                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                </a>
            </div>
        </div>
    </div>
</div>
